{% block subject %}
    AtypikHouse - Des logements uniques, atypiques et eco-responsables.
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour.

        Une nouvelle réservation pour votre annonce https://www.atypik.house/estate/{{ reservation.properties.estate.uuid }} a été enregistrée.

        {{ reservation.owner.username }} a réservé votre bien du {{ reservation.properties.coming_at }} au {{ reservation.properties.leaving_at }} .

        Cliquez sur le lien suivant pour voir la réservation :

        https://www.atypik.house/activation/{{ reservation.uuid }}
    {% endautoescape %}
{% endblock %}

{% block html_text %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>AtypikHouse - Des logements uniques, atypiques et eco-responsables.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        .pmobile {
            width: 70% !important;
            margin: 0 auto !important;
        }

        @media all and (max-width: 600px) {
            img {
                height: auto;
                max-width: 100% !important;
            }

            table[class=fluide] {
                max-width: 100% !important;
                min-width: 0 !important;
            }

            td[class=fluide] {
                width: 100% !important;
                min-width: 0 !important;
                float: left;
            }

            .fluide {
                width: 100% !important;
            }

            .nomobile {
                display: none !important;
            }


        }
    </style>
</head>

<body bgcolor="#fff" style="margin:0px; padding:0px; -webkit-text-size-adjust:none; font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#000000;">
<table bgcolor="#f4f4f4" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #f4f4f4; table-layout:fixed;">
    <tr>
        <td align="center">
            <table width="600" class="fluide" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td height="32" align="center" style="font-family:Helvetica, Arial, sans-serif;">
                        <p style="padding:0;margin:0;font-family:Verdana, sans-serif;font-weight: bold;font-size: 17px"><strong style="color:#06726F">Reservation enregistr&eacute;e !</strong></p>
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="600" class="fluide" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff" style="background-color:#fff">
                <tr>
                    <td colspan="3" height="10" style="background-color:#06726F" bgcolor="#06726F"></td>
                </tr>
                <tr>
                    <td colspan="3" style="background-color:#06726F" bgcolor="#06726F" align="center">
                        <table width="450" class="fluide" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" class="fluide"> <a href="http://www.atypik.house/?utm_medium=email&utm_source=mailrel&utm_campaign=ah+emailauto&utm_content=Logo+activation" target="_blank"><img src="logo-emailing.png" alt="" width="64" height="64"></a>
                                </td>
                                <td height="10" class="fluide"></td>
                                <td class="fluide">
                                    <p style="text-align: center;margin:0;padding:0;color:#fff;font-family: Helvetica,sans-serif;font-weight: bold;font-size: 25px;">
                                        Confirmation de réservation !</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>



                <tr style="background-color:#06726F" bgcolor="#06726F">
                    <td colspan="3" height="10"></td>
                </tr>
                <tr>
                    <td colspan="3" height=25></td>
                </tr>
                <tr>
                    <td width="40"></td>
                    <td align="center">
                        <p style="text-align: center;margin:0;padding:0;font-family: Helvetica,sans-serif;font-size: 16px;">
                            Bonjour,<br><br>
                            Une réservation pour votre Annonce <a href="https://www.atypik.house/estate/{{ reservation.properties.estate.uuid }}?utm_medium=email&utm_source=mailrel&utm_campaign=ah+emailauto&utm_content=activation" style="text-decoration: underline;color:#007792;font-size: 16px" target="_blank">"{{reservation.properties.estate.title}}"</a> a été enregistrée. <br><br>{{reservation.owner.username}} a réservé votre bien du {{ reservation.properties.coming_at }} au {{ reservation.properties.leaving_at }} .<br><br>
                            <a href="https://www.atypik.house/{{ reservation.uuid }}" style="color:#06726F;font-weight: bold">Voir  la réservation</a>

                        </p>
                    </td>
                    <td width="40"></td>
                </tr>


                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
                <tr>
                    <td width="40"></td>
                    <td align="center">
                        <p style="text-align: center;margin:0;padding:0;">

                            &Agrave; tr&egrave;s vite sur <a href="http://www.atypik.house/?utm_medium=email&utm_source=mailrel&utm_campaign=ah+emailauto&utm_content=activation" style="color:#06726F;font-weight: bold" target="_blank">Atypik.house !</a><br><br>

                            L'équipe AtypikHouse.</p>
                    </td>
                    <td width="40"></td>
                </tr>
                <tr>
                    <td colspan="3" height=25></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table width="600" class="fluide" border="0" cellspacing="0" cellpadding="0" style="background-color:#06726F" bgcolor="#06726F">
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p style="margin:0;padding:0;text-align: center;color:#fff;font-family: Helvetica,sans-serif;font-weight: bold;font-size: 20px;">Suivez-nous ! </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="300" class="fluide" border="0" cellspacing="0" cellpadding="0" style="background-color:#06726F" bgcolor="#06726F">
                                        <tr>
                                            <td align="center" ><a href="https://www.facebook.com/atypikhouse" target="_blank"><img src="facebook.png" alt="" height="25" width="25"></a></td>
                                            <td width="20" height="15"></td>
                                            <td align="center" ><a href="https://twitter.com/atypikhouse" target="_blank"><img src="twitter.png" alt="" height="25" width="25"></a></td>
                                            <td width="20" height="15"></td>
                                            <td align="center" ><a href="https://www.instagram.com/atypikhouse/" target="_blank"><img src="instagram.png" alt="" height="25" width="25"></a></td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td height="25"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="600" class="fluide" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="15"></td>
                </tr>

                <tr>
                    <td>
                        <p style="font-family: helvetica,sans-serif;font-size: 10px;text-align: center;color:#979797;width:80%;margin:0 auto;"> Nous collectons et traitons vos données personnelles pour vous permettre d'accéder et d'utiliser les Services d’AtypikHouse. Ces informations sont exclusivement destinées à ATYPIKHOUSE. Elles sont traitées conformément à notre Politique de Confidentialité et &agrave; la loi &ldquo; Informatique et Libert&eacute;s &rdquo; du 6/01/1978 modifi&eacute;e et au RGPD du 27/04/2016.
                            Vous pouvez demander l’accès, la rectification, la portabilité, l’effacement, la limitation, le retrait de votre consentement et/ou l'opposition au traitement de vos données personnelles en contactant le Support Clients à l’adresse suivante : support@atypikhouse.com.<br></p>
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td style="color:#979797;font-size:10px;font-family:Helvetica, Arial, sans-serif;" align="center">Ce message est envoy&eacute; par AtypikHouse<br /> Ceci est un email automatique, merci de ne pas r&eacute;pondre<br /><br /> [ Si vous ne souhaitez plus recevoir de notification de notre part, cliquez <a href="{{ LIEN DE DESAB?utm_medium=email&utm_source=mailrel&utm_campaign=ah+emailauto&utm_content=activation }}">ici</a> ]</td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
{% endblock %}